.ctools-locked {
    color: red;
    border: 1px solid red;
    padding: 1em;
}

.ctools-owns-lock {
    background: #FFFFDD none repeat scroll 0 0;
    border: 1px solid #F0C020;
    padding: 1em;
}

a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
    padding-right: 18px !important;
    background: url(/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;
}

div.ctools-ajaxing {
    float: left;
    width: 18px;
    background: url(/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;
}

li.dhtml-menu-cloned-leaf {
    font-size: 0.7em;
    font-style: italic;
}

li.dhtml-menu.start-collapsed ul {
    display: none;
}

li.dhtml-menu-open > a {
    font-style: italic;
}

a.dhtml-menu-icon {
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
}

li.dhtml-folder.expanded {
    list-style-image: url(/sites/all/modules/dhtml_menu/images/folder-open-white.png) !important;
}

li.dhtml-folder.collapsed {
    list-style-image: url(/sites/all/modules/dhtml_menu/images/folder-closed-white.png) !important;
}

.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    vertical-align: top;
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020;
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fancybox-opened {
    z-index: 8030;
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
    position: relative;
}

.fancybox-inner {
    overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch;
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%;
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(/sites/all/libraries/fancybox/source/fancybox_sprite.png);
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 8060;
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
    background: url(/sites/all/libraries/fancybox/source/fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(/sites/all/libraries/fancybox/source/blank.gif);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 8040;
}

.fancybox-prev {
    left: 0;
}

.fancybox-next {
    right: 0;
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden;
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px;
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px;
}

.fancybox-nav:hover span {
    visibility: visible;
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(/sites/all/libraries/fancybox/source/fancybox_overlay.png);
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll;
}

.fancybox-title {
    visibility: hidden;
    font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050;
}

.fancybox-opened .fancybox-title {
    visibility: visible;
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center;
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: transparent;
    background: rgba(0, 0, 0, 0.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: bold;
    line-height: 24px;
    white-space: nowrap;
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff;
}

.fancybox-title-inside-wrap {
    padding-top: 10px;
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0, 0, 0, .8);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
        background-image: url(/sites/all/libraries/fancybox/source/fancybox_sprite@2x.png);
        background-size: 44px 152px;
    }

    #fancybox-loading div {
        background-image: url(/sites/all/libraries/fancybox/source/fancybox_loading@2x.gif);
        background-size: 24px 24px;
    }
}

#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 8050;
}

#fancybox-thumbs.bottom {
    bottom: 2px;
}

#fancybox-thumbs.top {
    top: 2px;
}

#fancybox-thumbs ul {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

#fancybox-thumbs ul li {
    float: left;
    padding: 1px;
    opacity: 0.5;
}

#fancybox-thumbs ul li.active {
    opacity: 0.75;
    padding: 0;
    border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
    opacity: 1;
}

#fancybox-thumbs ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    border: 1px solid #222;
    background: #111;
    outline: none;
}

#fancybox-thumbs ul li img {
    display: block;
    position: relative;
    border: 0;
    padding: 0;
    max-width: none;
}

#jr_overlay {
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    z-index: 2147483646;
    position: absolute;
}

#jr_wrap {
    position: absolute;
    width: 100%;
    z-index: 2147483647;
    padding: 0;
    margin: 0;
}

#jr_inner {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
    font-size: 12px;
    background: #FFF;
    border: 1px solid #CCC;
    color: #4F4F4F;
    margin: 0 auto;
    height: auto;
    padding: 20px;
    position: relative;
    box-sizing: content-box;
}

#jr_header {
    display: block;
    color: #333;
    padding: 5px;
    padding-bottom: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

#jr_inner p {
    padding: 5px;
    margin: 0;
}

#jr_inner ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#jr_inner ul li {
    cursor: pointer;
    float: left;
    width: 120px;
    height: 122px;
    margin: 0 10px 10px 10px;
    padding: 0;
    text-align: center;
}

#jr_inner li a {
    color: #333;
    font-size: 0.8em;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

#jr_inner li a:hover {
    text-decoration: underline;
}

#jr_inner .jr_icon {
    width: 100px;
    height: 100px;
    margin: 1px auto;
    padding: 0;
    background: transparent no-repeat scroll left top;
    cursor: pointer;
}

#jr_close {
    clear: both;
    padding: 0;
    margin: 0;
}

#jr_close a {
    color: #000;
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#jr_close p {
    padding: 10px 0 0 0;
    margin: 0;
}

a.menu-659, ul.links li.menu-659 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_659.jpg);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-661, ul.links li.menu-661 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_661.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-662, ul.links li.menu-662 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_662.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-663, ul.links li.menu-663 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_663.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-977, ul.links li.menu-977 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_977.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-978, ul.links li.menu-978 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_978.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-979, ul.links li.menu-979 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_979.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-980, ul.links li.menu-980 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_980.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-981, ul.links li.menu-981 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_981.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-982, ul.links li.menu-982 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_982.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-983, ul.links li.menu-983 a {
    background-image: url(/sites/default/files/styles/210x220/public/menu_icons/menu_icon_983.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

a.menu-994, ul.links li.menu-994 a {
    background-image: url(/sites/default/files/styles/medium/public/menu_icons/menu_icon_994.png);
    padding-top: 220px;
    background-repeat: no-repeat;
    background-position: top;
    height: 220px;
}

div.ctools-modal-content {
    background: #fff;
    color: #000;
    padding: 0;
    margin: 2px;
    border: 1px solid #000;
    width: 600px;
    text-align: left;
}

div.ctools-modal-content .modal-title {
    font-size: 120%;
    font-weight: bold;
    color: white;
    overflow: hidden;
    white-space: nowrap;
}

div.ctools-modal-content .modal-header {
    background-color: #2385c2;
    padding: 0 .25em 0 1em;
}

div.ctools-modal-content .modal-header a {
    color: white;
}

div.ctools-modal-content .modal-content {
    padding: 1em 1em 0 1em;
    overflow: auto;
    position: relative;
}

div.ctools-modal-content .modal-form {
}

div.ctools-modal-content a.close {
    color: white;
    float: right;
}

div.ctools-modal-content a.close:hover {
    text-decoration: none;
}

div.ctools-modal-content a.close img {
    position: relative;
    top: 1px;
}

div.ctools-modal-content .modal-content .modal-throbber-wrapper {
    text-align: center;
}

div.ctools-modal-content .modal-content .modal-throbber-wrapper img {
    margin-top: 160px;
}

div.ctools-modal-content .form-item label {
    width: 15em;
    float: left;
}

div.ctools-modal-content .form-item label.option {
    width: auto;
    float: none;
}

div.ctools-modal-content .form-item .description {
    clear: left;
}

div.ctools-modal-content .form-item .description .tips {
    margin-left: 2em;
}

div.ctools-modal-content .no-float .form-item * {
    float: none;
}

div.ctools-modal-content .modal-form .no-float label {
    width: auto;
}

div.ctools-modal-content fieldset, div.ctools-modal-content .form-radios, div.ctools-modal-content .form-checkboxes {
    clear: left;
}

div.ctools-modal-content .vertical-tabs-panes > fieldset {
    clear: none;
}

div.ctools-modal-content .resizable-textarea {
    width: auto;
    margin-left: 15em;
    margin-right: 5em;
}

div.ctools-modal-content .container-inline .form-item {
    margin-right: 2em;
}

#views-exposed-pane-wrapper .form-item {
    margin-top: 0;
    margin-bottom: 0;
}

div.ctools-modal-content label.hidden-options {
    background: transparent url(/sites/all/modules/ctools/images/arrow-active.png) no-repeat right;
    height: 12px;
    padding-right: 12px;
}

div.ctools-modal-content label.expanded-options {
    background: transparent url(/sites/all/modules/ctools/images/expanded-options.png) no-repeat right;
    height: 12px;
    padding-right: 16px;
}

div.ctools-modal-content .option-text-aligner label.expanded-options, div.ctools-modal-content .option-text-aligner label.hidden-options {
    background: none;
}

div.ctools-modal-content .dependent-options {
    padding-left: 30px;
}

div.modal-forms-modal-content .resizable-textarea {
    margin-left: 0;
    margin-right: 0;
}

div.modal-forms-modal-content .form-item label {
    float: none;
    width: auto;
}

div.modal-forms-modal-content .item-list ul li {
    margin: 0 0 0.25em 1.5em;
}

div.modal-forms-modal-content div.messages {
    margin: 0;
}

div.modal-forms-modal-content {
    background: transparent;
    color: #000;
    font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

div.modal-forms-modal-content .popups-container {
    overflow: hidden;
    height: 100%;
    background: #fff;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.modal-forms-modal-content .modal-header {
    background-color: transparent;
    padding: 0.5em 1em 0 1em;
    min-height: 25px;
}

div.modal-forms-modal-content .modal-title {
    display: inline;
    color: #000;
}

div.modal-forms-modal-content .popups-close {
    float: right;
    cursor: pointer;
    background: url(/sites/all/modules/modal_forms/images/controls.png) -25px 0px no-repeat;
    width: 25px;
    height: 25px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

div.modal-forms-modal-content .popups-close:hover {
    background-position: -25px -25px;
}

input.webform-calendar {
    display: none;
    padding: 3px;
    vertical-align: top;
}

html.js input.webform-calendar {
    display: inline;
}

.webform-container-inline label {
    display: inline;
    margin-right: 1em;
}

.webform-container-inline div, .webform-container-inline div.form-item {
    display: inline;
}

.webform-container-inline div.description {
    display: block;
}

.webform-container-inline div.messages {
    display: block;
    float: left;
}

.webform-container-inline div.ajax-progress-bar div {
    display: inherit;
}

.webform-container-inline.webform-component-textarea label {
    vertical-align: top;
}

.webform-container-inline.webform-component-textarea .form-textarea-wrapper {
    display: inline-block;
}

.webform-component-textarea .grippie {
    display: block;
}

.webform-progressbar {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.webform-progressbar-inner {
    height: 1em;
    background-color: #74C421;
    height: 3px;
}

.webform-progressbar-outer {
    position: relative;
    border: 1px solid #356900;
    width: 100%;
    height: 3px;
    margin: 0.35em -1px 2em;
    background-color: white;
}

.webform-progressbar-page {
    position: absolute;
    width: 7px;
    height: 7px;
    margin: -6px -4px;
    border: 1px solid #356900;
    background-color: white;
    border-radius: 5px;
}

.webform-progressbar-page.completed {
    background-color: #74C421;
}

.webform-progressbar-page.current {
    background-color: #74C421;
}

.webform-progressbar-page .webform-progressbar-page-number {
    display: none;
}

.webform-progressbar-page .webform-progressbar-page-label {
    position: relative;
    top: 10px;
    margin: 0 -10em;
}
