#header {
  height: 100px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: center;
  background-color: #e2ded3;
  font-size: 20px;
  font-family: "Segoe UI", sans-serif;
  color: rgb(68, 68, 70);
  line-height: 0.9;

  .logo {
    width: 186px;
    margin: -15px;
    position: relative;
    z-index: 101;
  }


  .header__number, .header__message {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    width: 220px;
    margin-left: 20px;
  }

  .header__message {
    display: inline-flex;

    input {
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      padding-left: 10px;
      margin-left: 10px;
      outline: none;
      font-size: 14px;
      font-family: "Segoe UI", sans-serif;
      color: rgb(155, 155, 155);
      line-height: 1.286;
    }
  }

  .header__buttons {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    font-size: 14px;
    font-family: "Segoe UI", sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.286;
  }

}